@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Spinnaker", sans-serif;
  font-family: "Helvetica Neue", sans-serif;
}
:root {
  --primary-color: #1a2b6d;
  --secondary-color: #d41317;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "Spinnaker", sans-serif;
}
h3,
p,
span {
  font-family: "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
.fixedResponse {
  width: 981px;
}
.active {
  color: var(--secondary-color) !important;
}

/* navbar section start  */
.navbar {
  padding: 2rem 2rem;
  background-color: #fff;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo svg {
  height: 50px;
  width: fit-content;
  background-color: violet;
}
.pageNav {
  display: flex;
  gap: 50px;
}
.pageNav p {
  font-size: 1rem;
  font-weight: bold;
  color: #1a2b63;
  transition: color 0.4s ease-in-out 0s;
}
.pageNav p:hover {
  color: #d41317;
}
/* navbar section end  */

/* hedar image section stert  */
.header {
  width: 85%;
  height: 534px;
}
.headerImgWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerImg {
  width: 100%;
  height: auto;
}

/* header image section end  */

/* headerContent section start  */
.headerContent {
  width: 100%;
  height: 80% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContentmainWrap {
  display: flex;
  justify-content: flex-end;
}
.headerContentWrap {
  right: 0;
  top: 0;
  transform: translate(-10%, -40%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.headerContentText {
  width: 520px;
  padding: 3rem 5rem 3rem 3rem;
  background-color: rgba(242, 242, 242, 1);
}
.headerContentText h1 {
  font-size: 4rem;
  font-weight: 100;
  color: var(--primary-color);
}
.headerContentSecondary {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.contentIndicate {
  width: 113px;
  height: 3px;
  flex-shrink: 0;
  margin: 1rem 0;
  background-color: var(--primary-color);
}
.headerContentSecondary span {
  font-size: 1rem;
  line-height: 1.7em;
  letter-spacing: 0.05em;
  font-family: "helvetica-w01-light", sans-serif;
  font-weight: lighter;
  color: #000000d9;
}
.headerContentCTA {
  display: flex;
}
.addCTAbtn {
  font-size: 24px;
  width: 52px;
  height: 52px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "helvetica-w01-light", sans-serif;
  transition: background-color 0.4s ease-in-out 0s;
}
.addCTAbtn:hover {
  background-color: var(--secondary-color);
}
.findOutMoreCTAbtn {
  color: white;
  font-size: 1rem;
  width: 170px;
  height: 52px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "helvetica-w01-light", sans-serif;
  transition: background-color 0.4s ease-in-out 0s;
}
.findOutMoreCTAbtn:hover {
  background-color: var(--primary-color);
}
/* headerContent section end  */

/* our services section start  */
.OurServices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.OurServicesTitleWrap {
  width: 100%;
  height: 400px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}
.OurServicesTitle {
  padding: 2rem;
  padding-top: 5rem;
}
.OurServicesTitle h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 100;
}
.OurServicesTitle p {
  margin-top: 1.5rem;
  width: 50%;
  font-size: 1rem;
  line-height: 1.7em;
  letter-spacing: 0.04em;
  font-family: "helvetica-w01-light", sans-serif;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.912);
}
.ServicesWrapper {
  display: flex;
  column-gap: 2rem;
  row-gap: 4rem;
  flex-wrap: wrap;
  margin-top: -8rem;
}
.serviceCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 240px;
  padding: 2rem;
  background-color: #f2f2f2;
  position: relative;
  z-index: 100;
}
.serviceCard h1 {
  font-size: 1.6rem;
  line-height: 1.5em;
  color: var(--primary-color);
}
.serviceCard p {
  font-size: 1rem;
  line-height: 1.7em;
  letter-spacing: 0.04em;
  color: #000000d9;
  width: 100%;
  font-family: "helvetica-w01-light", sans-serif;
}
.learnMoreWrap {
  width: fit-content;
  padding: 0.5em;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.learnMoreWrap:hover > p {
  color: var(--primary-color);
}
.learnMoreWrap p {
  font-size: 1rem;
  margin: 0;
  width: auto;
  color: var(--secondary-color);
  transition: color 0.4s ease-in-out 0s;
}
.learnMoreWrap p:first-child {
  font-size: 1.2rem;
  font-weight: 100;
}
.serviceCard::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 8px;
  top: 8px;
  border: 3px solid #f2f2f2;
  z-index: -1;
}
/* our services section end  */

/* testimonial section start  */
.testimonial {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}
.testimonialsWrap {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  display: none;
}
.testimonialsWrap h1:first-child {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: lighter;
}
.testimonialsWrap h1:nth-child(2) {
  width: 80%;
  font-size: 2.1rem;
  line-height: 1.3em;
  color: var(--primary-color);
  text-align: center;
  font-weight: lighter;
}
.testimonialsWrap span {
  font-size: 1rem;
  color: var(--secondary-color);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 1.7em;
}
.testimonialDots {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1a2b6d;
  cursor: pointer;
}
.dotActive {
  background-color: transparent;
  border: 2px solid #1a2b6d;
}
.testimonialReviewShow {
  display: flex;
  animation-name: testimonial;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes testimonial {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.testimonialLeftBtn,
.testimonialRightBtn {
  position: absolute;
}
.testimonialLeftBtn {
  left: 5rem;
  top: 50%;
}
.testimonialRightBtn {
  right: 5rem;
  top: 50%;
}
/* testimonial section end  */

/* final section start  */
.finalSection {
  width: 100%;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}
.finalSectionAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.readyToExploreWrap {
  background-color: #f2f2f2;
  align-self: stretch;
  padding: 4rem 9rem;
}
.readyToExploreWrap h1 {
  font-size: 3.5rem;
  font-weight: 100;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 0.0305em;
}
/* final section end  */

/* contact us section start  */
.contactUsFooter {
  background-color: var(--primary-color);
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}
.contactUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contactUsWrapper #upSvg {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contactUsWrapper h1 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 00.05em;
  font-weight: normal;
}
#contactUsForm {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  row-gap: 1rem;
  justify-content: center;
}
label {
  font-size: 1rem;
  color: #fff;
  font-family: "helvetica-w01-light", sans-serif;
}
input {
  outline: none;
  padding: 0 1rem;
  border: none;
  background-color: transparent;
  box-shadow: inset 0 -1.5px 0 white;
  margin-top: 0.5rem;
  color: #fff;
}
input:focus,
input:hover {
  box-shadow: inset 0 0 0 1.5px white;
  background-color: #00000021;
}
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  padding: 0.5rem 0;
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: inset 0 -1.5px 0 white;
  color: #fff;
  margin-top: 0.5rem;
}
button {
  outline: none;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0.5rem 2rem;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.4s ease 0s;
}
button:hover {
  background-color: var(--secondary-color);
}
textarea:focus,
textarea:hover {
  box-shadow: inset 0 0 0 1.5px white;
  background-color: #00000021;
}
.fname,
.lname,
.email,
.message {
  display: flex;
  flex-direction: column;
}
.fname,
.lname {
  width: 48%;
}
.email {
  width: 100%;
}
.message {
  width: 100%;
}
#fname,
#lname,
#email {
  height: 42px;
}
.footer {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: "helvetica-w01-light", sans-serif;
  font-weight: lighter;
}
.footerLegal {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.808);
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 0.04em;
}
.footerLegal a {
  color: #fff;
}
/* contact us section end  */

/* why choose us reason section start  */
.whyChooseUsReasons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.whyChooseUsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}
.reasonOne {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}
.reasonOne span {
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-weight: lighter;
  color: var(--primary-color);
  font-family: "Spinnaker", sans-serif;
}
.reasonOne p {
  font-size: 1rem;
  font-family: "helvetica-w01-light", sans-serif;
  color: #000000d9;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}
/* why choose us reason section end  */
